*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

.heading{
    color: #ffbf00;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.container .main-video{
    background: #fff;
    border-radius: 5px;
    padding: 10px;
}

.container .main-video iframe{
    width: 100%;
    border-radius: 5px;
}

.container .main-video .title{
    color: #333;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.video-list{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.video-list .vid {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
}

.video-list .vid .title{
    color: #333;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.vidu{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.vidu .vidus{
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: -307px;
}

.vidu .vidus .tittle{
    color: #333;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}

 .bishu{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
 }

 .bishu .viduss{
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: -307px;
 }
 .bishu .viduss .title{
    color: #333;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
 }